<launch>
    <!-- roscore started automatically (when stopped, stops Everything!) --> 
    <!-- don't need to re-compile! -->
    <!-- Publisher node -->
    <!-- name overwrites the name specified in the cpp code! -->
    <node pkg="pub_sub" type="pub" name="talker" output="screen" />

    <!-- Subscriber node -->
    <node pkg="pub_sub" type="sub" name="listener" output="screen" />
</launch>
