<launch>
 
  <!-- Global parameter available to all nodes -->
  <param name="global_param" value="vamoos global!" />

  <!-- Launch the node with a private parameter -->
  <node pkg="parameter_test" type="param_first" name="param_first" output="screen">
    <!-- Private parameter for the node "my_node" -->
    <param name="private_param" value="vamos, private." />
  </node>

</launch>
